# Part Two - Filtering, Sorting, and Grouping

In the last tutorial, we looked at some ways of accessing data in the rows and columns of a DataFrame object. We learned how to select a single row or column, which returns a Series object. Then we learned how to use some of the functions that belong to the Series class to learn about the information contained in those rows and columns.

In this tutorial, we're going to learn about grouping, sorting, and filtering. This is a little more complex than what we've done before, but it builds on the same basic concepts. In all cases, the key to understanding what you're doing is to pay attention to the kind of object you're working with (DataFrame, Series, or something else), and to understand the shape of the data it contains.

## Loading data and importing libraries

Because this is a new Notebook, we have to load all the data and libraries we're using again. We'll show the first few rows of the DataFrame again as well, just as a reminder.

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/SimonCarryer/pandas_tutorial/master/data/dog_registrations.csv')

df['ValidDate'] = pd.to_datetime(df['ValidDate']) # Just formatting the data a little bit nicer

df.head()

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Individual Female,AM PIT BULL TERRIER,SPOTTED,BUTTER,15001,2007,2007-05-01 15:15:00
1,Dog Individual Female,AM PIT BULL TERRIER,BROWN,SABLE,15001,2007,2007-05-01 15:15:00
2,Dog Individual Neutered Male,MIXED,.,YIP,15001,2007,2007-04-11 15:14:00
3,Dog Individual Male,DOBERMAN PINSCHER,RED,SABER,15003,2007,2007-04-05 15:00:00
4,Dog Individual Spayed Female,MIXED,BLACK,DAISY,15003,2007,2007-05-25 12:15:00

## Filtering

Filtering in Pandas is deceptively simple. It relies on a neat trick involving a boolean Series. Remember in the last tutorial when we compared a Series with an operator (`>`, `<`, or `==`), how it applied that "row-wise", and returned the results of that comparison for each element in the Series?

In [2]:
df['Breed'] == 'AM PIT BULL TERRIER'

0         True
1         True
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
97432    False
97433    False
97434    False
97435    False
97436    False
97437    False
97438    False
97439    False
97440    False
97441    False
97442    False
97443    False
97444    False
97445    False
97446    False
97447    False
97448    False
97449    False
97450    False
97451    False
97452    False
97453    False
97454    False
97455    False
97456    False
97457    False
97458    False
97459    False
97460    False
97461    False
Name: Breed, Length: 97462, dtype: bool

What we see above is a Series object, which contains Boolean ("true or false") values. Pandas lets us use that Series, in conjunction with another function, `loc`, to filter a DataFrame, like this:

In [3]:
terriers = df['Breed'] == 'AM PIT BULL TERRIER'
df.loc[terriers]

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Individual Female,AM PIT BULL TERRIER,SPOTTED,BUTTER,15001,2007,5/1/2007 15:15
1,Dog Individual Female,AM PIT BULL TERRIER,BROWN,SABLE,15001,2007,5/1/2007 15:15
73,Dog Individual Spayed Female,AM PIT BULL TERRIER,WHITE/BROWN,XENA,15006,2007,1/9/2007 14:29
132,Dog Individual Female,AM PIT BULL TERRIER,TAN,DORA,15014,2007,2/2/2007 9:22
142,Dog Individual Neutered Male,AM PIT BULL TERRIER,BLACK,BUSTER,15014,2007,1/29/2007 10:47
147,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BLACK,VLADIMORE,15014,2007,6/4/2007 12:07
149,Dog Individual Spayed Female,AM PIT BULL TERRIER,WHITE/BROWN,ANGEL,15014,2007,6/5/2007 12:09
151,Dog Individual Neutered Male,AM PIT BULL TERRIER,BROWN,NONO,15014,2007,4/12/2007 13:53
163,Dog Individual Neutered Male,AM PIT BULL TERRIER,BRINDLE,ROCCO,15014,2007,7/11/2007 14:35
222,Dog Individual Male,AM PIT BULL TERRIER,BRINDLE,ODIS,15014,2007,1/3/2007 11:45
224,Dog Individual Male,AM PIT BULL TERRIER,WHITE,KODA,15014,2007,4/25/2007 11:48
228,Dog Individual Female,AM PIT BULL TERRIER,FAWN,JAYDA,15014,2007,4/30/2007 9:59
235,Dog Individual Neutered Male,AM PIT BULL TERRIER,TAN,BONES,15014,2007,10/16/2007 12:42
236,Dog Individual Male,AM PIT BULL TERRIER,BRINDLE,TANK,15014,2007,10/24/2007 10:29
288,Dog Individual Spayed Female,AM PIT BULL TERRIER,BRINDLE,BELLA,15015,2007,2/8/2007 9:08
432,Dog Individual Female,AM PIT BULL TERRIER,BLACK,BROOKLYN,15017,2007,10/4/2007 15:56
433,Dog Individual Female,AM PIT BULL TERRIER,WHITE,PEARL,15017,2007,10/4/2007 15:56
546,Dog Individual Spayed Female,AM PIT BULL TERRIER,RED,DESTINEE,15017,2007,3/2/2007 8:24
644,Dog Individual Female,AM PIT BULL TERRIER,BROWN,REESE,15017,2007,8/28/2007 15:51
645,Dog Individual Spayed Female,AM PIT BULL TERRIER,BROWN,REESE,15017,2007,8/28/2007 14:41
646,Dog Individual Neutered Male,AM PIT BULL TERRIER,BROWN,CEASAR,15017,2007,8/28/2007 14:41
668,Dog Individual Female,AM PIT BULL TERRIER,BROWN,BONNIE,15017,2007,9/12/2007 15:06
691,Dog Individual Male,AM PIT BULL TERRIER,WHITE/TAN,JED,15018,2007,1/23/2007 13:33
709,Dog Individual Male,AM PIT BULL TERRIER,BROWN,SKITTLES,15018,2007,1/25/2007 16:11
792,Dog Individual Male,AM PIT BULL TERRIER,WHITE,DUKE,15024,2007,7/9/2007 12:21
836,Dog Individual Neutered Male,AM PIT BULL TERRIER,WHITE,JAKE,15024,2007,2/15/2007 16:04
1067,Dog Individual Neutered Male,AM PIT BULL TERRIER,BROWN,SAMMY,15024,2007,3/9/2007 9:59
1115,Dog Individual Neutered Male,AM PIT BULL TERRIER,SPOTTED,OAKLEY,15025,2007,3/16/2007 14:06
1170,Dog Senior Citizen or Disability Spayed Female,AM PIT BULL TERRIER,WHITE/TAN,FOXIE,15025,2007,5/7/2007 10:44
1204,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BROWN,TREACH,15025,2007,5/10/2007 13:45
...,...,...,...,...,...,...,...
94619,Dog Individual Spayed Female,AM PIT BULL TERRIER,BRINDLE,BELLA,15237,2009,7/20/2009 8:44
94639,Dog Individual Female,AM PIT BULL TERRIER,BRINDLE,SADIE,15237,2009,9/8/2009 12:02
94644,Dog Individual Neutered Male,AM PIT BULL TERRIER,WHITE/BLACK/BROWN,SPENCER,15237,2009,9/17/2009 15:38
94645,Dog Individual Spayed Female,AM PIT BULL TERRIER,WHITE/BLACK,LAELA,15237,2009,9/17/2009 15:38
94710,Dog Individual Neutered Male,AM PIT BULL TERRIER,BROWN,COOKIE,15237,2009,2/25/2009 12:39
94711,Dog Individual Spayed Female,AM PIT BULL TERRIER,BRINDLE,GEMMA,15237,2009,2/25/2009 12:39
94827,Dog Individual Spayed Female,AM PIT BULL TERRIER,WHITE/RED,SCARLETT,15237,2009,12/23/2008 11:08
94951,Dog Individual Female,AM PIT BULL TERRIER,WHITE/RED,SAPPHIRE,15237,2009,1/6/2009 8:49
95046,Dog Senior Citizen or Disability Male,AM PIT BULL TERRIER,BLACK/BROWN,KOEIS,15237,2009,6/17/2009 9:40
95055,Dog Individual Spayed Female,AM PIT BULL TERRIER,BRINDLE,SIERRA,15237,2009,12/17/2008 11:24
95084,Dog Individual Male,AM PIT BULL TERRIER,BRINDLE,TYSON,15237,2009,3/5/2009 16:00
95246,Dog Individual Male,AM PIT BULL TERRIER,SPOTTED,REILLY,15237,2009,10/13/2009 11:36
95350,Dog Individual Spayed Female,AM PIT BULL TERRIER,BROWN,CHICA,15238,2009,5/15/2009 13:25
95667,Dog Individual Neutered Male,AM PIT BULL TERRIER,MULTI,TITAN,15238,2009,2/17/2009 13:50
95669,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BROWN,SPIKE,15238,2009,2/17/2009 13:50
95776,Dog Individual Neutered Male,AM PIT BULL TERRIER,BRINDLE,HAMMER,15239,2009,6/29/2009 13:25
95958,Dog Individual Male,AM PIT BULL TERRIER,BROWN,RUFUS,15239,2009,1/15/2009 8:41
95999,Dog Senior Citizen or Disability Female,AM PIT BULL TERRIER,WHITE,COOKIE,15239,2009,2/23/2009 10:56
96038,Dog Individual Female,AM PIT BULL TERRIER,TAN,GUCCI,15239,2009,11/12/2009 12:11
96043,Dog Individual Neutered Male,AM PIT BULL TERRIER,BLACK WITH WHITE,DANTE,15239,2009,9/10/2009 11:56
96061,Dog Individual Neutered Male,AM PIT BULL TERRIER,FAWN,BRUNO,15239,2009,6/9/2009 15:24
96084,Dog Individual Female,AM PIT BULL TERRIER,WHITE/FAWN,ANGEL,15239,2009,10/23/2009 14:25
96107,Dog Individual Spayed Female,AM PIT BULL TERRIER,WHITE,EVE,15239,2009,5/15/2009 16:19
96191,Dog Individual Neutered Male,AM PIT BULL TERRIER,BRINDLE,STEELY DAN,15239,2009,6/16/2009 14:22
96217,Dog Individual Male,AM PIT BULL TERRIER,BRINDLE,TANK,15239,2009,1/7/2009 10:09
96233,Dog Individual Spayed Female,AM PIT BULL TERRIER,BLACK,SARA LEE,15239,2009,5/14/2009 15:31
96267,Dog Individual Male,AM PIT BULL TERRIER,WHITE/LIVER,CASSIUS,15239,2009,6/10/2009 14:07
96319,Dog Individual Spayed Female,AM PIT BULL TERRIER,BROWN,PITA,15239,2009,2/17/2009 8:29
97081,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BROWN,CHEECH,15243,2009,3/10/2009 12:22
97341,Dog Individual Female,AM PIT BULL TERRIER,BRINDLE,ANGLE,15332,2009,3/16/2009 9:45

In fact, using the `loc` function is not strictly neccessary here. Just `df[terriers]` will do exactly the same thing. That relies on a bit of magic in the background, where Pandas figures out whether you're looking for a set of columns, or filtering rows. I find that notation quite confusing, so for clarity I like to use the `loc` function. `loc` has other uses as well, which you can research yourself.

There are other ways of producing a boolean Series, besides the simple operators. Series have several functions that perform comparisons and return booleans. Here are some examples:

In [7]:
df['Color'].isin(['BROWN', 'TAN'])

0        False
1         True
2        False
3        False
4        False
5        False
6        False
7        False
8         True
9        False
10       False
11       False
12       False
13       False
14       False
15        True
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23        True
24       False
25       False
26       False
27       False
28       False
29       False
         ...
97432     True
97433    False
97434    False
97435    False
97436    False
97437     True
97438     True
97439    False
97440    False
97441    False
97442    False
97443    False
97444     True
97445    False
97446    False
97447    False
97448    False
97449     True
97450    False
97451    False
97452    False
97453    False
97454    False
97455    False
97456    False
97457    False
97458    False
97459    False
97460    False
97461    False
Name: Color, Length: 97462, dtype: bool

In [8]:
df['ValidDate'].between('20070501', '20080601') # Note that we had to format the date column correctly for this to work.

0         True
1         True
2        False
3        False
4         True
5         True
6         True
7        False
8        False
9        False
10       False
11        True
12       False
13       False
14       False
15        True
16        True
17       False
18       False
19       False
20       False
21       False
22        True
23        True
24       False
25       False
26       False
27        True
28       False
29       False
         ...
97432    False
97433    False
97434    False
97435    False
97436    False
97437    False
97438    False
97439    False
97440    False
97441    False
97442    False
97443    False
97444    False
97445    False
97446    False
97447    False
97448    False
97449    False
97450    False
97451    False
97452    False
97453    False
97454    False
97455    False
97456    False
97457    False
97458    False
97459    False
97460    False
97461    False
Name: ValidDate, Length: 97462, dtype: bool

In [9]:
df['LicenseType'].isnull() # Trust me this will be very useful

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
97432    False
97433    False
97434    False
97435    False
97436    False
97437    False
97438    False
97439    False
97440    False
97441    False
97442    False
97443    False
97444    False
97445    False
97446    False
97447    False
97448    False
97449    False
97450    False
97451    False
97452    False
97453    False
97454    False
97455    False
97456    False
97457    False
97458    False
97459    False
97460    False
97461    False
Name: LicenseType, Length: 97462, dtype: bool

In [10]:
df['Breed'].str.contains('MIX') 

# This is a bit sneaky - the `str` attribute accesses a bunch of other methods for Series containing strings.

0        False
1        False
2         True
3        False
4         True
5         True
6        False
7        False
8        False
9        False
10       False
11       False
12        True
13       False
14       False
15       False
16        True
17       False
18        True
19        True
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29        True
         ...
97432    False
97433    False
97434    False
97435     True
97436    False
97437    False
97438     True
97439    False
97440     True
97441    False
97442     True
97443     True
97444     True
97445    False
97446     True
97447     True
97448    False
97449    False
97450    False
97451    False
97452    False
97453    False
97454    False
97455    False
97456    False
97457     True
97458    False
97459    False
97460    False
97461    False
Name: Breed, Length: 97462, dtype: bool

### Filtering Series

You can filter a Series just the same way that you filter a DataFrame.

In [11]:
df['DogName'].loc[terriers]

0            BUTTER
1             SABLE
73             XENA
132            DORA
142          BUSTER
147       VLADIMORE
149           ANGEL
151            NONO
163           ROCCO
222            ODIS
224            KODA
228           JAYDA
235           BONES
236            TANK
288           BELLA
432        BROOKLYN
433           PEARL
546        DESTINEE
644           REESE
645           REESE
646          CEASAR
668          BONNIE
691             JED
709        SKITTLES
792            DUKE
836            JAKE
1067          SAMMY
1115         OAKLEY
1170          FOXIE
1204         TREACH
            ...
94619         BELLA
94639         SADIE
94644       SPENCER
94645         LAELA
94710        COOKIE
94711         GEMMA
94827      SCARLETT
94951      SAPPHIRE
95046         KOEIS
95055        SIERRA
95084         TYSON
95246        REILLY
95350         CHICA
95667         TITAN
95669         SPIKE
95776        HAMMER
95958         RUFUS
95999        COOKIE
96038         GUCCI
96043         DANTE
96061         BRUNO
96084         ANGEL
96107           EVE
96191    STEELY DAN
96217          TANK
96233      SARA LEE
96267       CASSIUS
96319          PITA
97081        CHEECH
97341         ANGLE
Name: DogName, Length: 2969, dtype: object

"Vladimore"!? Incredible.

### Multiple Filters

You can apply more than one filter at a time. Obviously how you write your code is up to you, but for myself, the clearest and most concise way I've found to do this is to define several boolean Series, and then chain them together with the `&` operator. If you're experienced with Python, you might be wondering why we use `&` instead of `and`. It's because what we're actually doing is a "bitwise" comparison - adding two booleans together. Observe:

In [12]:
terriers = df['Breed'] == 'AM PIT BULL TERRIER'
brown = df['Color'].str.contains('BROWN')

terriers & brown

0        False
1         True
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
97432    False
97433    False
97434    False
97435    False
97436    False
97437    False
97438    False
97439    False
97440    False
97441    False
97442    False
97443    False
97444    False
97445    False
97446    False
97447    False
97448    False
97449    False
97450    False
97451    False
97452    False
97453    False
97454    False
97455    False
97456    False
97457    False
97458    False
97459    False
97460    False
97461    False
Length: 97462, dtype: bool

Because the combination of all muliple Series is a single Series, we can use it to filter a DataFrame.

In [13]:
df.loc[terriers & brown]

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
1,Dog Individual Female,AM PIT BULL TERRIER,BROWN,SABLE,15001,2007,2007-05-01 15:15:00
73,Dog Individual Spayed Female,AM PIT BULL TERRIER,WHITE/BROWN,XENA,15006,2007,2007-01-09 14:29:00
149,Dog Individual Spayed Female,AM PIT BULL TERRIER,WHITE/BROWN,ANGEL,15014,2007,2007-06-05 12:09:00
151,Dog Individual Neutered Male,AM PIT BULL TERRIER,BROWN,NONO,15014,2007,2007-04-12 13:53:00
644,Dog Individual Female,AM PIT BULL TERRIER,BROWN,REESE,15017,2007,2007-08-28 15:51:00
645,Dog Individual Spayed Female,AM PIT BULL TERRIER,BROWN,REESE,15017,2007,2007-08-28 14:41:00
646,Dog Individual Neutered Male,AM PIT BULL TERRIER,BROWN,CEASAR,15017,2007,2007-08-28 14:41:00
668,Dog Individual Female,AM PIT BULL TERRIER,BROWN,BONNIE,15017,2007,2007-09-12 15:06:00
709,Dog Individual Male,AM PIT BULL TERRIER,BROWN,SKITTLES,15018,2007,2007-01-25 16:11:00
1067,Dog Individual Neutered Male,AM PIT BULL TERRIER,BROWN,SAMMY,15024,2007,2007-03-09 09:59:00
1204,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BROWN,TREACH,15025,2007,2007-05-10 13:45:00
1267,Dog Individual Male,AM PIT BULL TERRIER,BROWN,DAUBLOW,15025,2007,2007-01-19 12:41:00
1305,Dog Individual Neutered Male,AM PIT BULL TERRIER,BROWN,SPIKE,15025,2007,2007-09-21 16:13:00
1316,Dog Individual Female,AM PIT BULL TERRIER,BROWN,PEBBLES,15025,2007,2007-10-09 14:10:00
1339,Dog Individual Spayed Female,AM PIT BULL TERRIER,RED/BROWN,DIAMOND,15025,2007,2007-06-01 15:01:00
1340,Dog Individual Neutered Male,AM PIT BULL TERRIER,RED/BROWN,LOCO,15025,2007,2007-06-01 16:23:00
1352,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BROWN,NAPOLEAN,15025,2007,2007-05-07 11:06:00
1353,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BROWN,CEASAR,15025,2007,2007-05-07 11:06:00
1513,Dog Senior Citizen or Disability Female,AM PIT BULL TERRIER,WHITE/BLACK/BROWN,ANGIE,15025,2007,2007-06-08 11:34:00
1583,Dog Individual Male,AM PIT BULL TERRIER,BROWN,BLAZE,15025,2007,2007-05-01 11:12:00
1665,Dog Individual Female,AM PIT BULL TERRIER,WHITE/BROWN,PUNKIN,15025,2007,2007-11-05 13:17:00
1682,Dog Individual Female,AM PIT BULL TERRIER,BROWN,NAWLA,15025,2007,2007-04-25 15:04:00
1694,Dog Individual Spayed Female,AM PIT BULL TERRIER,BROWN,CARMEN,15025,2007,2007-05-29 15:19:00
1710,Dog Individual Female,AM PIT BULL TERRIER,BROWN,NALA,15025,2007,2007-08-23 15:36:00
2029,Dog Individual Female,AM PIT BULL TERRIER,BROWN,GRETA,15035,2007,2007-09-27 15:59:00
2209,Dog Individual Female,AM PIT BULL TERRIER,BROWN,MOCHA,15037,2007,2007-09-26 08:33:00
2236,Dog Individual Neutered Male,AM PIT BULL TERRIER,WHITE/BROWN,BRUNO FAULKNER,15037,2007,2007-02-27 14:32:00
2455,Dog Individual Male,AM PIT BULL TERRIER,BROWN,JAKE,15037,2007,2007-04-25 14:59:00
2522,Dog Senior Citizen or Disability Neutered Male,AM PIT BULL TERRIER,BROWN,TURNER,15037,2007,2006-12-14 11:16:00
2546,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BROWN,THUNDERBOLT,15037,2007,2007-05-14 13:12:00
...,...,...,...,...,...,...,...
91920,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BROWN,DEVIN,15234,2009,2009-03-03 11:51:00
91947,Dog Individual Female,AM PIT BULL TERRIER,BLACK/BROWN,SYDNEY,15234,2009,2009-11-18 16:21:00
91992,Dog Individual Female,AM PIT BULL TERRIER,WHITE/BROWN,THIRSTY,15235,2009,2009-06-02 11:57:00
92089,Dog Individual Female,AM PIT BULL TERRIER,BROWN,ZOE,15235,2009,2009-02-18 09:30:00
92135,Dog Senior Citizen or Disability Male,AM PIT BULL TERRIER,WHITE/BLACK/BROWN,KING,15235,2009,2009-02-27 13:39:00
92163,Dog Individual Spayed Female,AM PIT BULL TERRIER,BROWN,BIANCA,15235,2009,2009-03-09 10:49:00
92177,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BROWN,KEYLO,15235,2009,2009-07-23 11:42:00
92376,Dog Individual Male,AM PIT BULL TERRIER,BROWN,MAX,15235,2009,2009-05-21 14:54:00
92513,Dog Individual Female,AM PIT BULL TERRIER,WHITE/BROWN,HAVEN,15235,2009,2009-04-15 14:02:00
92514,Dog Individual License Duplicate,AM PIT BULL TERRIER,WHITE/BROWN,HAVEN,15235,2009,2009-11-04 12:59:00
92755,Dog Individual License Duplicate,AM PIT BULL TERRIER,WHITE/BROWN,HIEDI,15235,2009,2009-10-02 15:44:00
92788,Dog Individual Spayed Female,AM PIT BULL TERRIER,BROWN,BUNN,15235,2009,2009-01-05 11:26:00
92843,Dog Senior Citizen or Disability Spayed Female,AM PIT BULL TERRIER,WHITE/BROWN,EXOTIC,15235,2009,2009-05-28 14:44:00
92902,Dog Individual Neutered Male,AM PIT BULL TERRIER,BROWN,LEGEND,15235,2009,2009-01-27 09:13:00
92935,Dog Individual Male,AM PIT BULL TERRIER,BROWN,TAZ,15235,2009,2009-02-25 14:05:00
92965,Dog Individual Neutered Male,AM PIT BULL TERRIER,WHITE/BROWN,DUKE,15235,2009,2009-07-10 12:20:00
92970,Dog Individual Female,AM PIT BULL TERRIER,WHITE/BROWN,DIAMOND,15235,2009,2009-04-27 08:06:00
93103,Dog Individual Male,AM PIT BULL TERRIER,BROWN,KING,15235,2009,2009-03-24 12:59:00
93117,Dog Individual Male,AM PIT BULL TERRIER,BROWN,HARDCORE,15235,2009,2009-04-27 15:14:00
93119,Dog Individual Female,AM PIT BULL TERRIER,BLACK/BROWN,MAMA'Z,15235,2009,2009-04-28 15:39:00
94009,Dog Individual Female,AM PIT BULL TERRIER,BROWN,DAISY,15236,2009,2009-05-21 15:33:00
94493,Dog Individual Spayed Female,AM PIT BULL TERRIER,WHITE/BROWN,DAISY,15237,2009,2009-07-31 14:42:00
94644,Dog Individual Neutered Male,AM PIT BULL TERRIER,WHITE/BLACK/BROWN,SPENCER,15237,2009,2009-09-17 15:38:00
94710,Dog Individual Neutered Male,AM PIT BULL TERRIER,BROWN,COOKIE,15237,2009,2009-02-25 12:39:00
95046,Dog Senior Citizen or Disability Male,AM PIT BULL TERRIER,BLACK/BROWN,KOEIS,15237,2009,2009-06-17 09:40:00
95350,Dog Individual Spayed Female,AM PIT BULL TERRIER,BROWN,CHICA,15238,2009,2009-05-15 13:25:00
95669,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BROWN,SPIKE,15238,2009,2009-02-17 13:50:00
95958,Dog Individual Male,AM PIT BULL TERRIER,BROWN,RUFUS,15239,2009,2009-01-15 08:41:00
96319,Dog Individual Spayed Female,AM PIT BULL TERRIER,BROWN,PITA,15239,2009,2009-02-17 08:29:00
97081,Dog Individual Male,AM PIT BULL TERRIER,WHITE/BROWN,CHEECH,15243,2009,2009-03-10 12:22:00

### Getting Complicated

Feel free to skip this part - it's a bit technical, but there's some extra stuff to learn here. This way of filtering DataFrames works because the boolean Series has the same "index" as the DataFrame - the indexes "align". That means that they have the same length, and all the same values. If your boolean Series comes from a column of your DataFrame, that will always work fine.

But you can also make an entirely new Series, with wholly different values. Provided the indexes align, you can use it to filter in exactly the same way.

In [16]:
# Make a Series object that holds random numbers between 0 and 9
random_numbers = pd.Series(pd.np.random.randint(0, 10, size=len(df)))

# Return only rows in df where the random number in "random_numbers" is zero
df.loc[random_numbers == 0]

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
4,Dog Individual Spayed Female,MIXED,BLACK,DAISY,15003,2007,2007-05-25 12:15:00
20,Dog Individual Neutered Male,SILKY TERRIER,WHITE/BLACK/BROWN,NICO,15003,2007,2007-02-12 14:42:00
28,Dog Individual Neutered Male,GER SHEPHERD,WHITE,CEASAR,15003,2007,2007-04-17 16:10:00
42,Dog Individual Neutered Male,CHIHUAHUA,MULTI,MOOSE,15005,2007,2007-01-11 14:16:00
46,Dog Individual Neutered Male,GOLDEN RETRIEVER,GOLD,SONNY,15005,2007,2007-02-15 09:01:00
47,Dog Individual Neutered Male,ENG SPRINGER SPANIE,WHITE/BLACK,PATCHES,15005,2007,2007-10-01 15:42:00
73,Dog Individual Spayed Female,AM PIT BULL TERRIER,WHITE/BROWN,XENA,15006,2007,2007-01-09 14:29:00
82,Dog Individual Neutered Male,MIXED,BLACK/BROWN,ENZO,15006,2007,2007-05-18 11:18:00
111,Dog Individual Male,MIXED,WHITE/APRICOT,HANK,15014,2007,2007-02-20 15:53:00
130,Dog Senior Citizen or Disability Spayed Female,DOBERMAN PINSCHER,BLACK/BROWN,DAISY GUY,15014,2007,2007-02-08 15:46:00
133,Dog Individual Neutered Male,GER SHEPHERD MIX,BROWN,BANDIT JONES,15014,2007,2007-03-15 15:43:00
139,Dog Individual Male,MIXED,TAN,GRIZZY,15014,2007,2007-01-17 14:06:00
141,Dog Individual Neutered Male,PUG,FAWN,GIZMO,15014,2007,2007-05-07 10:07:00
144,Dog Individual Female,POODLE STANDARD,CREAM,BABE,15014,2007,2007-01-12 14:19:00
152,Dog Individual Neutered Male,ROTTWEILER MIX,WHITE/BLACK/BROWN,JACK,15014,2007,2007-04-12 16:09:00
156,Dog Individual Neutered Male,GOLDEN RETRIEV MIX,WHITE/BLACK/BROWN,BRADY,15014,2007,2007-08-17 13:54:00
166,Dog Individual Neutered Male,PARSON RUSSELL TERR,MULTI,TYSON,15014,2007,2007-05-14 15:32:00
170,Dog Individual Spayed Female,LABRADOR RETRIEVER,BLACK,SADIE,15014,2007,2007-02-23 10:38:00
171,Dog Individual Spayed Female,GER SHORTHAIR POINT,WHITE/BROWN,LIBA TERRA,15014,2007,2007-04-11 15:44:00
180,Dog Individual Neutered Male,LAB MIX,TAN,OATSIE,15014,2007,2007-04-05 16:05:00
183,Dog Individual Male,PUG,BROWN,PETEY,15014,2007,2007-04-04 13:34:00
187,Dog Individual Male,LABRADOR RETRIEVER,YELLOW,EINSTEIN,15014,2007,2007-01-18 14:47:00
201,Dog Individual Female,LAB MIX,WHITE,BOO,15014,2007,2007-07-18 12:55:00
214,Dog Senior Citizen or Disability Spayed Female,LAB MIX,TAN,CHLOE,15014,2007,2007-07-13 16:04:00
251,Dog Individual Neutered Male,MIXED,WHITE/BLACK/BROWN,CHARLEY,15015,2007,2007-01-25 12:54:00
279,Dog Individual Neutered Male,PAPILLON,WHITE/BLACK/BROWN,THEO,15015,2007,2007-05-02 14:16:00
282,Dog Individual Neutered Male,BOXER,BRINDLE,DIESEL,15015,2007,2007-06-05 14:48:00
286,Dog Individual Neutered Male,MIXED,BLACK/BROWN,HUNTER,15015,2007,2007-01-17 10:12:00
289,Dog Senior Citizen or Disability Spayed Female,LAB MIX,RED,LEXIE,15015,2007,2007-08-07 15:17:00
292,Dog Individual Spayed Female,MIN PINSCHER,BROWN,SNIPER,15015,2007,2007-07-03 14:09:00
...,...,...,...,...,...,...,...
97114,Dog Individual Spayed Female,COLLIE MIX,BLACK,PRECIOUS,15243,2009,2008-12-29 14:13:00
97118,Dog Individual Spayed Female,MIXED,BLACK,CHELSEA,15243,2009,2009-06-17 14:14:00
97123,Dog Individual Male,GREAT DANE,BRINDLE,CHEMO,15243,2009,2009-03-04 14:28:00
97157,Dog Individual Spayed Female,LAB MIX,BLACK,GRACE,15243,2009,2009-03-26 08:18:00
97213,Dog Individual Male,SCHNOODLE,WHITE,MURRAY,15243,2009,2009-08-10 14:25:00
97223,Dog Individual Spayed Female,COCKAPOO,WHITE,DAISY,15243,2009,2009-03-23 14:08:00
97225,Dog Individual Female,LAB MIX,BLACK,OREO,15243,2009,2009-01-30 10:48:00
97233,Dog Individual Male,SHIH TZU MIX,MULTI,LUNNA,15243,2009,2009-01-12 16:06:00
97251,Dog Individual Male,POODLE MIX,BROWN,LUIGI,15243,2009,2009-03-12 16:14:00
97253,Dog Individual Neutered Male,PUGGLE,BROWN,JAKE,15243,2009,2009-07-07 12:50:00
97254,Dog Individual Spayed Female,LAB MIX,BROWN,VITA,15243,2009,2009-08-17 10:00:00
97261,Dog Individual Neutered Male,LAB MIX,BLACK,ZEKE,15243,2009,2009-06-10 12:41:00
97277,Dog Individual Neutered Male,PUGGLE,BLACK,JACKSON,15332,2009,2009-11-13 13:32:00
97286,Dog Individual Female,RETRIEVER MIX,BROWN,PRINCESS,15332,2009,2009-03-10 12:10:00
97290,Dog Individual Spayed Female,LABRADOR RETRIEVER,BROWN,BAILEY,15332,2009,2009-02-03 11:54:00
97302,Dog Individual Female,IRISH WOLFHOUND,WHITE/GREY,SHAMROCK,15332,2009,2009-03-10 13:26:00
97321,Dog Individual Male,YORKSHIRE TERRIER,BROWN,TOBY,15332,2009,2009-01-22 14:58:00
97340,Dog Individual Neutered Male,GER SHEPHERD MIX,BLACK/BROWN,GENERAL BENNETT,15332,2009,2009-03-16 09:45:00
97345,Dog Individual Female,BOSTON TERRIER,BLACK,CHLOE,15332,2009,2009-05-12 13:33:00
97362,Dog Individual Spayed Female,DACHSHUND,BLACK,KATE,15642,2009,2009-08-07 14:32:00
97367,Dog Individual Neutered Male,SHIH TZU,WHITE,MOE,15668,2009,2009-03-03 12:44:00
97371,Dog Individual Spayed Female,COLLIE,WHITE/BROWN,KASSIE,16046,2009,2009-01-13 10:46:00
97375,Dog Individual Spayed Female,GER SHORTHAIR POINT,SPOTTED,ANNIE,16046,2009,2009-02-05 10:58:00
97380,Dog Individual Spayed Female,WELSH CORGI PEMBROK,WHITE/FAWN,JENNIFER,16046,2009,2009-03-30 14:25:00
97383,Dog Individual Spayed Female,LABRADOR RETRIEVER,BLACK,CASEY,16046,2009,2009-04-17 12:36:00
97391,Dog Individual Spayed Female,LAB MIX,TAN,QUAKER,16046,2009,2008-12-05 09:48:00
97393,Dog Individual Spayed Female,POODLE MIN,SPOTTED,OREO,16046,2009,2009-03-02 09:25:00
97436,Dog Senior Citizen or Disability Neutered Male,PARSON RUSSELL TERR,MULTI,DUDLEY,16059,2009,2009-01-12 15:52:00
97446,Dog Individual Neutered Male,MIXED,ORANGE,TUCKER,16059,2009,2009-08-21 14:37:00
97455,Dog Individual Neutered Male,BASSET HOUND,SPOTTED,DUKE,16059,2009,2009-01-06 14:54:00

### Problem One

In the cell below:
* Filter the DataFrame to show dogs registered in the 15005 and 15006 zip codes.
* Filter the DataFrame to show dogs registered after 2007
* Count the number of male dogs
* Count the number of white poodles registered in 2008

## Sorting

There are two ways of sorting DataFrames and Series, simple, and complicated. Let's do simple first:

### Simple Sorting

There are a couple of functions which sort DataFrames and Series. They are `sort_values` and `sort_index`.

Here's `sort_values`

In [13]:
df['OwnerZip'].sort_values()

0        15001
66219    15001
66220    15001
66221    15001
66222    15001
66223    15001
29866    15001
29865    15001
29864    15001
29863    15001
29862    15001
29861    15001
66218    15001
66217    15001
1        15001
2        15001
4        15003
29890    15003
29889    15003
29888    15003
29887    15003
29886    15003
29885    15003
29884    15003
29883    15003
29882    15003
29891    15003
29881    15003
29879    15003
29878    15003
         ...
29854    16059
29855    16059
29856    16059
66200    16059
29844    16059
29846    16059
29845    16059
66209    16059
66214    16059
66213    16059
66212    16059
66202    16059
66203    16059
66211    16059
66210    16059
66204    16059
66208    16059
66207    16059
66206    16059
66205    16059
66216    16066
29857    16066
29858    16066
66215    16066
97458    16066
29859    16229
97459    17821
29860    19350
97460    32828
97461    32828
Name: OwnerZip, Length: 97462, dtype: int64

In [14]:
df['OwnerZip'].sort_values(ascending=False)

97461    32828
97460    32828
29860    19350
97459    17821
29859    16229
97458    16066
66215    16066
29858    16066
29857    16066
66216    16066
66205    16059
66206    16059
66207    16059
66208    16059
66204    16059
66210    16059
66211    16059
66203    16059
66202    16059
66212    16059
66213    16059
66214    16059
66209    16059
29845    16059
29846    16059
29844    16059
66200    16059
29856    16059
29855    16059
29854    16059
         ...
29878    15003
29879    15003
29881    15003
29891    15003
29882    15003
29883    15003
29884    15003
29885    15003
29886    15003
29887    15003
29888    15003
29889    15003
29890    15003
4        15003
2        15001
1        15001
66217    15001
66218    15001
29861    15001
29862    15001
29863    15001
29864    15001
29865    15001
29866    15001
66223    15001
66222    15001
66221    15001
66220    15001
66219    15001
0        15001
Name: OwnerZip, Length: 97462, dtype: int64

In [15]:
df.sort_values(by='OwnerZip')

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Individual Female,AM PIT BULL TERRIER,SPOTTED,BUTTER,15001,2007,2007-05-01 15:15:00
66219,Dog Individual Neutered Male,YORKSHIRE TERR MIX,WHITE/BLACK,CHEVY,15001,2009,2009-05-04 10:51:00
66220,Dog Individual Spayed Female,SHETLAND SHEEPDOG,WHITE/BLACK/BROWN,LACEY,15001,2009,2009-06-04 16:14:00
66221,Dog Individual Male,MALTESE,WHITE,BAILEY MARTIN,15001,2009,2009-02-03 15:05:00
66222,Dog Individual Spayed Female,MALTESE,WHITE,ANNIE MARTIN,15001,2009,2009-02-03 15:05:00
66223,Dog Individual Spayed Female,BEAGLE MIX,WHITE/BLACK/BROWN,BELLA,15001,2009,2009-06-29 09:51:00
29866,Dog Individual Female,PLOTT HOUND,BRINDLE,ZOEY,15001,2008,2008-06-23 14:43:00
29865,Dog Individual Spayed Female,GREYHOUND,BRINDLE,LIBBY,15001,2008,2008-02-26 14:08:00
29864,Dog Individual Female,BEAGLE,WHITE/BLACK/BROWN,MODENA,15001,2008,2008-02-19 12:25:00
29863,Dog Individual Neutered Male,YORKSHIRE TERR MIX,WHITE/BLACK,CHEVY,15001,2008,2008-03-04 15:18:00
29862,Dog Individual Female,CHIHUAHUA,BROWN,LEXUS,15001,2008,2008-03-04 15:18:00
29861,Dog Individual Neutered Male,PLOTT HOUND,BRINDLE,SCOOBY,15001,2008,2008-05-13 15:29:00
66218,Dog Individual Female,CHIHUAHUA,BROWN,LEXUS,15001,2009,2009-05-04 10:51:00
66217,Dog Individual Neutered Male,GREYHOUND,RED,ERNIE,15001,2009,2009-01-20 11:11:00
1,Dog Individual Female,AM PIT BULL TERRIER,BROWN,SABLE,15001,2007,2007-05-01 15:15:00
2,Dog Individual Neutered Male,MIXED,.,YIP,15001,2007,2007-04-11 15:14:00
4,Dog Individual Spayed Female,MIXED,BLACK,DAISY,15003,2007,2007-05-25 12:15:00
29890,Dog Individual Neutered Male,CHIHUAHUA,WHITE/BLACK/BROWN,SAMMY,15003,2008,2008-01-17 15:24:00
29889,Dog Senior Citizen or Disability Spayed Female,BASSET HOUND,SPOTTED,SUGAR EARS,15003,2008,2008-01-03 14:43:00
29888,Dog Senior Citizen or Disability Spayed Female,POODLE MIN,BLACK/GREY,TRIKSIE,15003,2008,2008-01-03 14:43:00
29887,Dog Individual Spayed Female,BASSET HOUND,MULTI,AGNES,15003,2008,2008-01-03 14:43:00
29886,Dog Individual Neutered Male,LABRADOR RETRIEVER,BROWN,GUNNER,15003,2008,2008-01-08 15:33:00
29885,Dog Senior Citizen or Disability Male,CHIHUAHUA MIX,WHITE/BEIGE,BUDDIE,15003,2008,2008-02-20 07:21:00
29884,Dog Individual Male,BASSET HOUND,WHITE/BLACK/BROWN,DOC,15003,2008,2008-02-15 16:03:00
29883,Dog Individual Spayed Female,AM ESKIMO DOG,WHITE,LADY,15003,2008,2008-03-05 14:46:00
29882,Dog Individual Female,MIXED,BLACK/BROWN,PRINCESS,15003,2008,2008-01-03 14:57:00
29891,Dog Individual Neutered Male,MIXED,WHITE/BROWN,BUDDY,15003,2008,2008-05-08 08:06:00
29881,Dog Individual Male,CHINESE CRESTED,WHITE/BLACK,BUDDY,15003,2008,2008-01-23 08:29:00
29879,Dog Individual Neutered Male,LABRADOR RETRIEVER,BLACK,IKE,15003,2008,2008-07-22 13:51:00
29878,Dog Individual Neutered Male,MIXED,BLACK/GREY,DUGAN,15003,2008,2008-07-22 13:51:00
...,...,...,...,...,...,...,...
29854,Dog Individual Spayed Female,GER SHEPHERD MIX,BLACK,ROSEY,16059,2007,2007-11-19 11:47:00
29855,Dog Individual Neutered Male,GER SHEPHERD MIX,BLACK,BEAR,16059,2007,2007-03-12 14:30:00
29856,Dog Individual Spayed Female,LHASA APSO MIX,WHITE/BROWN,BUTTERSCOTCH,16059,2007,2007-03-12 14:30:00
66200,Dog Individual Spayed Female,GER SHEPHERD,BLACK/CREAM,DAISY,16059,2008,2008-02-13 14:33:00
29844,Dog Individual Spayed Female,SIB HUSKY,WHITE,CHINA,16059,2007,2007-01-29 15:05:00
29846,Dog Individual Female,GER SHEPHERD,BLACK/RED,ROSIE,16059,2007,2007-08-24 12:18:00
29845,Dog Individual Neutered Male,CHIHUAHUA,WHITE,MICKEY,16059,2007,2007-03-14 13:50:00
66209,Dog Individual Spayed Female,MIXED,GOLD,HONEY BEAR,16059,2008,2008-05-08 14:08:00
66214,Dog Individual Spayed Female,MIXED,GOLD,MAKELA,16059,2008,2008-03-31 13:23:00
66213,Dog Senior Citizen or Disability Spayed Female,MIXED,MULTI,FANCY,16059,2008,2008-03-04 15:25:00
66212,Dog Senior Citizen or Disability Spayed Female,LABRADOR RETRIEVER,YELLOW,BUTTERCUP,16059,2008,2008-03-04 15:25:00
66202,Dog Individual Female,MIXED,BRINDLE,CLEO,16059,2008,2008-03-12 15:12:00
66203,Dog Individual Male,PUG,BLACK,LUKE,16059,2008,2008-02-22 11:07:00
66211,Dog Senior Citizen or Disability Spayed Female,AUS SHEPHERD,BLACK/MERLE,PEBBLES,16059,2008,2008-03-04 15:25:00
66210,Dog Individual Spayed Female,MIXED,WHITE/BLACK,ROKU,16059,2008,2008-07-24 12:43:00
66204,Dog Individual Neutered Male,GER SHEPHERD,BLACK,DIRT,16059,2008,2008-10-30 14:29:00
66208,Dog Senior Citizen or Disability Female,MIXED,SPOTTED,GRACIE,16059,2008,2008-02-01 10:27:00
66207,Dog Individual Neutered Male,WELSH CORGI PEMBROK,WHITE/BROWN,BARNEY,16059,2008,2008-03-19 12:10:00
66206,Dog Individual Neutered Male,WELSH CORGI PEMBROK,WHITE/BROWN,BAILEY,16059,2008,2008-03-19 12:10:00
66205,Dog Individual Spayed Female,SIB HUSKY,MULTI,SADIE,16059,2008,2008-07-09 14:29:00
66216,Dog Individual Spayed Female,SIB HUSKY,RED,RIKKU,16066,2008,2008-01-16 15:05:00
29857,Dog Individual Spayed Female,SIB HUSKY,RED,RIKKU,16066,2007,2007-02-02 13:33:00
29858,Dog Individual Spayed Female,BEAGLE MIX,SPOTTED,MOLLY,16066,2007,2007-05-17 13:55:00
66215,Dog Individual Male,GER SHEPHERD,BLACK/TAN,DUKE,16066,2008,2008-05-27 12:15:00
97458,Dog Individual Male,AIREDALE TERRIER,BLACK/BROWN,ROSCO,16066,2009,2009-03-13 14:28:00
29859,Dog Individual Neutered Male,LABRADOR RETRIEVER,BLACK,SCOOBY,16229,2007,2007-03-06 08:59:00
97459,Dog Individual Male,MASTIFF,FAWN,MAXIMUS,17821,2009,2008-12-15 11:53:00
29860,Dog Individual Neutered Male,DACHSHUND,BLACK/TAN,PEPPER,19350,2007,2007-11-07 08:34:00
97460,Dog Individual Neutered Male,BEAGLE,WHITE/BLACK/BROWN,WALTER,32828,2009,2009-03-12 14:23:00
97461,Dog Individual Spayed Female,DALMATIAN,WHITE/BLACK,ROXY,32828,2009,2009-09-21 11:57:00

In [16]:
df.sort_values(by=['Breed', 'DogName'])

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
45341,Dog Individual Neutered Male,.,WHITE/BLACK,BRUNO,15131,2008,2008-02-25 15:20:00
72443,Dog Individual Spayed Female,.,BLACK,BUCKEYE,15090,2009,2009-03-20 14:35:00
31070,Dog Individual Spayed Female,.,WHITE/BLACK,CHOMPERS,15024,2008,2008-01-09 16:01:00
21726,Dog Individual Female,.,BLACK/BROWN,COCO,15221,2007,2007-05-24 15:24:00
74423,Dog Individual Spayed Female,.,BLACK/BROWN,KELLI,15102,2009,2008-12-31 15:56:00
788,Dog Senior Citizen or Disability Spayed Female,.,WHITE/BLACK/BROWN,LADY,15024,2007,2007-03-13 15:01:00
31039,Dog Senior Citizen or Disability Spayed Female,.,WHITE/BLACK/BROWN,LADY,15024,2008,2008-03-31 15:47:00
67208,Dog Senior Citizen or Disability Spayed Female,.,WHITE/BLACK/BROWN,LADY,15024,2009,2009-03-06 12:30:00
5532,Dog Senior Citizen or Disability Duplicate,.,WHITE,MAGGIE,15084,2007,2007-05-21 10:29:00
37652,Dog Individual Spayed Female,.,BRINDLE,MAIA,15090,2008,2007-12-20 16:02:00
54464,Dog Senior Citizen or Disability Spayed Female,.,BLUE,MAZIE,15212,2008,2008-02-04 15:30:00
28175,Dog Individual Spayed Female,.,WHITE,PRINCESS,15239,2007,2006-12-21 14:42:00
64082,Dog Individual Spayed Female,.,WHITE,PRINCESS,15239,2008,2008-01-25 13:54:00
95721,Dog Individual Spayed Female,.,WHITE,PRINCESS,15239,2009,2009-01-06 15:40:00
42984,Dog Individual Spayed Female,.,TAN,ROSIE,15120,2008,2008-01-30 11:25:00
40736,Dog Individual Neutered Male,.,WHITE/TAN,SAMMY,15108,2008,2008-02-07 15:06:00
41761,Dog Individual Spayed Female,.,SPOTTED,SHELBY,15108,2008,2007-12-20 16:02:00
43889,Dog Senior Citizen or Disability Spayed Female,.,BROWN,TAFFY,15122,2008,2008-02-12 16:08:00
21602,Dog Individual Neutered Male,AFFENPINSCHER,BLACK,LUCKY BOY,15220,2007,2007-04-19 14:25:00
87037,Dog Individual Spayed Female,AFFENPINSCHER,BLACK,PEPPER,15209,2009,2009-02-17 15:13:00
26361,Dog Senior Citizen or Disability Female,AFFENPINSCHER,BLACK,TAPANGA,15236,2007,2007-01-22 15:03:00
61933,Dog Senior Citizen or Disability Female,AFFENPINSCHER,BLACK,TAPANGA,15236,2008,2008-01-23 13:00:00
54178,Dog Senior Citizen or Disability Spayed Female,AFFENPINSCHER,BLACK,TOKI,15209,2008,2008-01-09 16:01:00
2074,Dog Individual Female,AFGHAN HOUND,BLACK,ABBYGALE,15037,2007,2007-01-19 10:46:00
32796,Dog Senior Citizen or Disability Female,AFGHAN HOUND,BLACK,ANNIE B,15037,2008,2007-12-19 11:22:00
56273,Dog Senior Citizen or Disability Female,AFGHAN HOUND,BLACK,CHRISTY,15221,2008,2008-09-24 13:16:00
47026,Dog Individual Neutered Male,AFGHAN HOUND,RED,FRANKLIN,15135,2008,2008-01-04 15:49:00
78282,Dog Individual Spayed Female,AFGHAN HOUND,BLACK,GIGI,15122,2009,2009-03-04 10:29:00
73876,Dog Individual Female,AFGHAN HOUND,SPOTTED,GRACEY SIMEONE,15102,2009,2009-11-13 12:36:00
983,Dog Individual Neutered Male,AFGHAN HOUND,BLONDE,HOWSIT,15024,2007,2007-05-21 14:23:00
...,...,...,...,...,...,...,...
22380,Dog Individual Female,YORKSHIRE TERRIER,BLACK/BROWN,ZENDORA,15223,2007,2007-01-22 13:22:00
5255,Dog Individual Female,YORKSHIRE TERRIER,BLACK/BROWN,ZIG,15071,2007,2007-03-19 14:26:00
78648,Dog Individual Neutered Male,YORKSHIRE TERRIER,MULTI,ZIGGY,15122,2009,2009-11-02 13:04:00
5897,Dog Individual Male,YORKSHIRE TERRIER,WHITE/GREY,ZIPPY,15084,2007,2007-01-11 11:29:00
8184,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK/BROWN,ZOE,15104,2007,2007-05-16 09:10:00
24591,Dog Individual Spayed Female,YORKSHIRE TERRIER,.,ZOE,15235,2007,2007-05-04 15:06:00
40314,Dog Individual Spayed Female,YORKSHIRE TERRIER,BROWN,ZOE,15106,2008,2008-03-21 11:05:00
50656,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK/SILVER,ZOE,15146,2008,2008-01-22 11:07:00
58719,Dog Individual Spayed Female,YORKSHIRE TERRIER,.,ZOE,15229,2008,2008-01-15 14:12:00
60422,Dog Senior Citizen or Disability Spayed Female,YORKSHIRE TERRIER,.,ZOE,15235,2008,2008-05-06 13:44:00
64907,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK/TAN,ZOE,15239,2008,2008-03-13 13:07:00
74840,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK/BROWN,ZOE,15104,2009,2009-05-20 16:10:00
93079,Dog Individual Female,YORKSHIRE TERRIER,BLACK/BROWN,ZOE,15235,2009,2009-08-11 15:21:00
94412,Dog Individual Female,YORKSHIRE TERRIER,BLACK/TAN,ZOE,15237,2009,NaT
94413,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK/TAN,ZOE,15237,2009,2009-03-03 14:05:00
95884,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK/TAN,ZOE,15239,2009,2009-02-03 12:44:00
2122,Dog Senior Citizen or Disability Spayed Female,YORKSHIRE TERRIER,BLACK/TAN,ZOEY,15037,2007,2007-07-02 10:02:00
7213,Dog Individual Spayed Female,YORKSHIRE TERRIER,BROWN,ZOEY,15101,2007,2007-02-08 15:54:00
7915,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK/TAN,ZOEY,15102,2007,2007-01-31 13:11:00
14102,Dog Individual Female,YORKSHIRE TERRIER,BROWN,ZOEY,15135,2007,2007-02-07 10:59:00
14320,Dog Senior Citizen or Disability Spayed Female,YORKSHIRE TERRIER,BLUE/GOLD,ZOEY,15136,2007,2007-06-07 10:00:00
36857,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK/BROWN,ZOEY,15084,2008,2008-03-05 09:26:00
47444,Dog Senior Citizen or Disability Spayed Female,YORKSHIRE TERRIER,BLUE/GOLD,ZOEY,15136,2008,2008-05-06 09:05:00
47991,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK/TAN,ZOEY,15136,2008,2008-02-06 08:34:00
68088,Dog Individual Female,YORKSHIRE TERRIER,BLACK,ZOEY,15030,2009,2009-03-09 14:05:00
71787,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK/BROWN,ZOEY,15084,2009,2009-05-20 10:33:00
75849,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK/BROWN,ZOEY,15108,2009,2009-01-28 14:28:00
81163,Dog Senior Citizen or Disability Spayed Female,YORKSHIRE TERRIER,BLUE/GOLD,ZOEY,15136,2009,2009-03-10 16:01:00
96156,Dog Individual Spayed Female,YORKSHIRE TERRIER,BLACK,ZOEY,15239,2009,2009-02-02 13:20:00
96699,Dog Individual Neutered Male,YORKSHIRE TERRIER,BLACK/TAN,ZOEY,15241,2009,2009-01-16 09:58:00

And here's `sort_index`. Since Series and DataFrames are already sorted by their index usually, it's most useful on Series that are sorted some other way.

In [17]:
df['Breed'].value_counts().sort_index()

.                          18
AFFENPINSCHER               5
AFGHAN HOUND               12
AINU                        2
AIREDALE TERRIER          187
AKITA                     272
AKITA MIX                  70
ALAPAHA BLUE BULLDO         1
ALAS KLEE KAI               5
ALAS MALAMUTE             120
ALASKAN SHEPHERD            1
AM BLACK&TAN COONHO         6
AM BULLDOG                288
AM ESKIMO DOG             280
AM FOXHOUND                35
AM PIT BULL TERRIER      2969
AM PITT BULL MIX          751
AM STAFF TERRIER          238
AM TOY TERRIER             29
AM WATER SPANIEL            2
ANATOLIAN SHEPHERD          7
ARGENTINO DOGO             13
AUS CATTLE DOG            199
AUS KELPIE                  8
AUS SHEPHERD              433
AUS TERRIER                12
BASENJI                    43
BASSET HOUND              489
BASSET HOUND MIX           57
BEAGLE                   3239
                         ...
SPINONE ITALIANO           29
ST BERNARD                244
STAFFORDSHIRE TERRI        60
STUMPY TAIL CATTLE DO       2
SUSSEX SPANIEL              3
TAG                       647
TERRIER                   482
TERRIER BRASILEIRO          3
TERRIER MIX               956
THAI RIDGEBACK              1
TIBETAN SPANIEL             7
TIBETAN TERRIER            41
TOY FOX TERIER             17
TRANSYLVANIAN HOUND         1
TREE WALK COONHOUND        55
TREEING CUR                 1
VIZSLA                    195
W HGHLND WH TERRIER       574
W SHEPHERD /GER SHEPH       1
W SIBERIAN LAIKA            1
WEIMARANER                440
WELSH CORGI CARDIGA       152
WELSH CORGI PEMBROK       265
WELSH SPRINGER SPAN        13
WELSH TERRIER              32
WHIPPET                    47
WIREHAIR PT GRIFFON        19
XOLOITZCUINTLI              1
YORKSHIRE TERR MIX        469
YORKSHIRE TERRIER        1700
Name: Breed, Length: 291, dtype: int64

### Complicated Sorting

There's another way of sorting, which is much more complicated. You can probably ignore this in most cases, but it can become useful. It uses a Series or DataFrame's _index_ to provide a sort order. Remember how the `iloc` function can return specific rows of a DataFrame or Series? If you provide it a list of all the rows you want, in the order you want them, it will return your DataFrame sorted the way you like.

In [18]:
# Make a Series which is all the numbers between 0 and 
random_order = pd.np.random.permutation(range(len(df)))
df.iloc[random_order]

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
17480,Dog Individual Neutered Male,BORD COLLIE,BLACK,OREO,15146,2007,2006-12-28 11:46:00
77253,Dog Individual Spayed Female,MIN PINSCHER,BLACK/TAN,LILY,15116,2009,2009-10-14 15:53:00
42215,Dog Individual Male,AM PIT BULL TERRIER,BROWN,SIEGE,15110,2008,2008-02-19 14:06:00
73744,Dog Individual Neutered Male,AM PIT BULL TERRIER,WHITE/BLACK,CHAMP,15101,2009,2009-06-22 10:19:00
37162,Dog Individual Spayed Female,GOLDEN RETRIEVER,GOLD,HANNA,15090,2008,2008-04-02 12:42:00
54259,Dog Individual Female,POODLE STANDARD,APRICOT,LILY,15209,2008,2008-01-08 14:32:00
3668,Dog Individual Male,ROTTWEILER MIX,BLACK/BROWN,BUDDY,15045,2007,2006-12-14 15:59:00
1755,Dog Individual Female,GOLDEN RETRIEVER,BROWN,LACI,15026,2007,2007-09-24 10:09:00
42744,Dog Individual Neutered Male,TERRIER,WHITE/BLACK,BENJI,15116,2008,2008-01-30 11:25:00
2206,Dog Individual Spayed Female,CHIHUAHUA MIX,MULTI,RUBI,15037,2007,2007-06-06 15:30:00
48263,Dog Individual Spayed Female,BOXER,BROWN,KOLBY,15137,2008,2008-03-19 13:34:00
29836,Dog Individual Female,TAG,BLACK,CHLOE,16046,2007,2007-02-27 14:32:00
58216,Dog Individual Neutered Male,BOXER,FAWN,CODY,15228,2008,2008-01-29 14:25:00
61738,Dog Individual Neutered Male,BEAGLE MIX,BROWN,BUDDIE,15236,2008,2008-01-22 11:07:00
75890,Dog Individual Neutered Male,MIXED,BROWN,COCOA,15108,2009,2009-01-06 14:54:00
82282,Dog Individual Neutered Male,CHIHUAHUA MIX,BLACK/BROWN,SEBASTAIN,15137,2009,2009-03-06 09:38:00
2092,Dog Individual Female,LABRADOR RETRIEVER,BLACK,PEPPER,15037,2007,2007-03-28 15:07:00
74977,Dog Individual Male,MIXED,WHITE/TAN,BABY,15105,2009,2009-04-29 11:03:00
29556,Dog Individual Spayed Female,POMERANIAN,SABLE,PUDDIN,15243,2007,2007-01-19 15:23:00
63026,Dog Individual Spayed Female,SCHNOODLE,WHITE/BLACK,OLIVE,15237,2008,2008-02-12 16:08:00
48179,Dog Individual Neutered Male,BOSTON TERRIER,WHITE/BLACK,DEUCE,15137,2008,2007-12-14 10:13:00
28369,Dog Individual Neutered Male,MIXED,BLACK,OLIVER,15239,2007,2007-01-10 15:41:00
48080,Dog Individual Spayed Female,MIXED,WHITE/BLACK/BROWN,BAILEY,15136,2008,2008-01-17 15:47:00
51548,Dog Individual Male,TAG,BLACK,BLISTOR,15147,2008,2008-05-19 14:13:00
45151,Dog Individual Male,MIXED,BLACK,QUINCY,15129,2008,2008-08-06 13:23:00
71202,Dog Individual Female,SHETLAND SHEEPDOG,SABLE/WHITE,ELLA,15068,2009,2009-09-02 16:21:00
27242,Dog Individual Neutered Male,LHASA APSO,WHITE/YELLOW,MAX,15237,2007,2007-03-08 11:27:00
94038,Dog Individual Neutered Male,SCHNAUZER MIN,BLACK/GREY,SCOOTER,15237,2009,2009-01-02 12:42:00
78352,Dog Individual Female,SHIH TZU,WHITE/BROWN,KAYLEE,15122,2009,2009-03-11 16:06:00
60885,Dog Individual Spayed Female,DACHSHUND MIX,WHITE,PENNY,15235,2008,2008-03-13 12:34:00
...,...,...,...,...,...,...,...
1739,Dog Individual Neutered Male,SHETLAND SHEEPDOG,WHITE/BLACK/BROWN,MAX,15026,2007,2007-02-22 09:17:00
86059,Dog Individual Male,BULLDOG,TAN,BULLY,15205,2009,2009-04-02 14:31:00
82671,Dog Individual Neutered Male,LABRADOR RETRIEVER,YELLOW,RHETT,15140,2009,2009-06-08 12:56:00
42655,Dog Individual Spayed Female,PUG,FAWN,BAILEY,15116,2008,2008-10-30 12:21:00
24483,Dog Individual Neutered Male,BORD COLLIE,WHITE/BLACK,RINGO,15234,2007,2007-02-02 14:15:00
26478,Dog Individual Female,LABRADOR RETRIEVER,BLACK,NELLIE,15236,2007,2007-03-28 15:28:00
86704,Dog Individual Male,CHIHUAHUA,SPOTTED,REN COYLE,15209,2009,2009-05-15 16:18:00
109,Dog Individual Neutered Male,SHETLAND SHEEPDOG,WHITE/BROWN,LADDIE,15014,2007,2007-01-12 14:47:00
4761,Dog Individual License Duplicate,MIXED,BROWN,SHELBY,15068,2007,2007-05-07 14:39:00
32890,Dog Individual Male,SIB HUSKY,WHITE/BLACK,TEDDY,15037,2008,2008-02-28 14:23:00
56858,Dog Individual Neutered Male,LAB MIX,BLACK,INKY,15221,2008,2008-07-07 15:38:00
8838,Dog Individual Male,AM PIT BULL TERRIER,BROWN,DUCHESS,15106,2007,2007-11-15 12:04:00
37452,Dog Individual Male,HAVANESE,WHITE/BLACK,SAMMY,15090,2008,2008-01-30 14:39:00
3164,Dog Individual Spayed Female,COCKER SPANIEL,BUFF,SHAKIRA,15044,2007,2007-10-04 11:42:00
27772,Dog Individual License Duplicate,GREAT PYRENEES,WHITE,TAHOE,15238,2007,2007-06-26 14:14:00
65747,Dog Individual Neutered Male,ENG POINTER,WHITE/BLACK,JAKE,15243,2008,2008-02-11 11:28:00
91996,Dog Individual Neutered Male,CHIHUAHUA,BLACK/TAN/WHITE,SQUEAKER,15235,2009,2009-03-17 14:46:00
70632,Dog Individual Male,LABRADOR RETRIEVER,BROWN,PHOENIX,15065,2009,2009-04-28 14:30:00
4010,Dog Individual Spayed Female,SIB HUSKY,WHITE/BLACK,SHAYLEE,15057,2007,2007-02-20 14:30:00
899,Dog Individual Spayed Female,YORKSHIRE TERRIER,BROWN,HOLLY,15024,2007,2007-06-11 10:15:00
15687,Dog Individual Spayed Female,MIXED,BLACK/BROWN,DAKOTA,15140,2007,2007-04-23 11:58:00
80887,Dog Individual Spayed Female,LABRADOR RETRIEVER,BLACK,ROXY,15133,2009,2009-02-23 09:35:00
94029,Dog Senior Citizen or Disability Neutered Male,COCKAPOO,WHITE/BROWN,DARBY,15236,2009,2009-07-20 13:52:00
87495,Dog Individual Neutered Male,CHINESE SHAR-PEI,BLACK,TAZ,15215,2009,2009-02-24 11:51:00
23610,Dog Individual Spayed Female,WELSH CORGI PEMBROK,WHITE/BROWN,GIZMO,15228,2007,2006-12-13 13:26:00
36913,Dog Individual Spayed Female,LABRADOR RETRIEVER,BROWN,KOPPER PENNY,15084,2008,2008-05-08 14:28:00
85600,Dog Individual Spayed Female,BASENJI,WHITE/TAN,SARA,15202,2009,2009-03-20 10:59:00
89596,Dog Individual Spayed Female,GOLDEN RETRIEVER,GOLD,HOLLY,15223,2009,2009-02-27 15:01:00
32290,Dog Individual Male,AM PIT BULL TERRIER,BLACK,HAZE,15035,2008,2008-02-12 16:08:00
40810,Dog Individual Female,GER SHEPHERD,SABLE,DESTINY,15108,2008,2008-05-12 14:02:00

### Problem Two

* Show the DataFrame sorted by the ValidDate
* Show the LicenseTypes, sorted descending
* Show the DataFrame, sorted by ExpYear and ValidDate
* Show the dog names, sorted by zip code

## Grouping

The easiest way to group data in Pandas is with a method we've already seen: The `value_counts` method. This is a `Series` method, so you can call it on any single column. By default, it returns a count of every non-`NaN` value in the column, sorted from most to least common.

In [21]:
df['Color'].value_counts().head()

BLACK          15916
BROWN          11920
WHITE           7673
WHITE/BLACK     7489
BLACK/BROWN     7289
Name: Color, dtype: int64

That sorting from most to least common is usually quite useful, but sometimes that's not what you want. In those cases, the `sort_index` method is usually what you're after.

In [32]:
df['ExpYear'].value_counts().sort_index()

2007    29861
2008    36356
2009    31245
Name: ExpYear, dtype: int64

But often you don't want to just count things, or you want to group by more than just one column.

This is a little bit trickier than the previous things we've seen, because it involves a new kind of object, the `DataFrameGroupBy` object. You can think of this like a DataFrame that's been squished down real tight. All the information is still in there, it's just collapsed down so that the data is aggregated. You've got to access the data in slightly different ways.

The way we access a `DataFrameGroupBy` object is with the `groupby` function of a DataFrame, like this:

In [18]:
df.groupby('Color')

As you can see, grouping by itself doesn't gain us much. We've squished down the DataFrame, but we can't see any of the information it contains. To do that, we need to supply an aggregate function, such as `count`, `sum`, `mean` and so on.

In [19]:
df.groupby('Color').count()

,LicenseType,Breed,DogName,OwnerZip,ExpYear,ValidDate
Color,,,,,,
.,489,489,489,489,489,482
APRICOT,392,392,392,392,392,389
BEIGE,314,314,314,314,314,312
BLACK,15916,15916,15916,15916,15916,15861
BLACK WITH WHITE,119,119,119,119,119,119
BLACK/BLUE,9,9,9,9,9,8
BLACK/BRINDLE,53,53,53,53,53,53
BLACK/BROWN,7289,7289,7289,7289,7289,7256
BLACK/BROWN/GREY,68,68,68,68,68,68
BLACK/BROWN/TAN,164,164,164,164,164,164
BLACK/CREAM,56,56,56,56,56,56
BLACK/FAWN,137,137,137,137,137,135
BLACK/GOLD,140,140,140,140,140,140
BLACK/GREY,251,251,251,251,251,249
BLACK/LIVER,7,7,7,7,7,7
BLACK/MERLE,5,5,5,5,5,5
BLACK/ORANGE,5,5,5,5,5,5
BLACK/ORANGE/BRINDLE,4,4,4,4,4,4
BLACK/RED,272,272,272,272,272,271
BLACK/SILVER,216,216,216,216,216,214
BLACK/TAN,2363,2363,2363,2363,2363,2353
BLACK/TAN/WHITE,323,323,323,323,323,322
BLONDE,1089,1089,1089,1089,1089,1083
BLUE,457,457,457,457,457,456
BLUE/GOLD,60,60,60,60,60,58
BLUE/TAN,52,52,52,52,52,52
BRINDLE,2822,2822,2822,2822,2822,2813
BROWN,11920,11920,11920,11920,11920,11886
BROWN/BLONDE,14,14,14,14,14,14
BROWN/FAWN,12,12,12,12,12,12
...,...,...,...,...,...,...
RED/BLONDE,42,42,42,42,42,42
RED/BRINDLE,37,37,37,37,37,36
RED/BROWN,326,326,326,326,326,323
RUST,14,14,14,14,14,13
SABLE,609,609,609,609,609,608
SABLE/WHITE,264,264,264,264,264,263
SALT/PEPPER,258,258,258,258,258,256
SILVER,263,263,263,263,263,261
SPOTTED,4637,4637,4637,4637,4637,4611
TAN,2199,2199,2199,2199,2199,2190
TRI-COLOR,125,125,125,125,125,125
WHEATON,198,198,198,198,198,198
WHITE,7673,7673,7673,7673,7673,7636
WHITE/APRICOT,85,85,85,85,85,85
WHITE/BEIGE,160,160,160,160,160,160
WHITE/BLACK,7489,7489,7489,7489,7489,7461
WHITE/BLACK/BROWN,5284,5284,5284,5284,5284,5253
WHITE/BLACK/GREY,112,112,112,112,112,112
WHITE/BLUE,82,82,82,82,82,81
WHITE/BRINDLE,189,189,189,189,189,189
WHITE/BROWN,4689,4689,4689,4689,4689,4669
WHITE/FAWN,240,240,240,240,240,240
WHITE/GREY,465,465,465,465,465,459
WHITE/LIVER,263,263,263,263,263,256
WHITE/MERLE,2,2,2,2,2,2
WHITE/ORANGE,12,12,12,12,12,12
WHITE/RED,610,610,610,610,610,604
WHITE/TAN,1205,1205,1205,1205,1205,1202
WHITE/YELLOW,209,209,209,209,209,208
YELLOW,2567,2567,2567,2567,2567,2560

You'll notice that what's returned is the count of _every column_. That might be useful if we had a lot of numeric data, and we were using a `sum` or `mean` function, but since we're just counting rows, we get the same information for every column. Better to just count one column.

In [20]:
df.groupby('Color')['Breed'].count()

Color
.                         489
APRICOT                   392
BEIGE                     314
BLACK                   15916
BLACK WITH WHITE          119
BLACK/BLUE                  9
BLACK/BRINDLE              53
BLACK/BROWN              7289
BLACK/BROWN/GREY           68
BLACK/BROWN/TAN           164
BLACK/CREAM                56
BLACK/FAWN                137
BLACK/GOLD                140
BLACK/GREY                251
BLACK/LIVER                 7
BLACK/MERLE                 5
BLACK/ORANGE                5
BLACK/ORANGE/BRINDLE        4
BLACK/RED                 272
BLACK/SILVER              216
BLACK/TAN                2363
BLACK/TAN/WHITE           323
BLONDE                   1089
BLUE                      457
BLUE/GOLD                  60
BLUE/TAN                   52
BRINDLE                  2822
BROWN                   11920
BROWN/BLONDE               14
BROWN/FAWN                 12
                        ...
RED/BLONDE                 42
RED/BRINDLE                37
RED/BROWN                 326
RUST                       14
SABLE                     609
SABLE/WHITE               264
SALT/PEPPER               258
SILVER                    263
SPOTTED                  4637
TAN                      2199
TRI-COLOR                 125
WHEATON                   198
WHITE                    7673
WHITE/APRICOT              85
WHITE/BEIGE               160
WHITE/BLACK              7489
WHITE/BLACK/BROWN        5284
WHITE/BLACK/GREY          112
WHITE/BLUE                 82
WHITE/BRINDLE             189
WHITE/BROWN              4689
WHITE/FAWN                240
WHITE/GREY                465
WHITE/LIVER               263
WHITE/MERLE                 2
WHITE/ORANGE               12
WHITE/RED                 610
WHITE/TAN                1205
WHITE/YELLOW              209
YELLOW                   2567
Name: Breed, Length: 80, dtype: int64

You'll note that what's returned is a `Series`, with an index of all the different colours in our DataFrame. That means we can treat it exactly the same as any other `Series`, sorting it, filtering it, and so on:

In [21]:
colour_counts = df.groupby('Color')['Breed'].count()
colour_counts.sort_values(ascending=False)

Color
BLACK                   15916
BROWN                   11920
WHITE                    7673
WHITE/BLACK              7489
BLACK/BROWN              7289
WHITE/BLACK/BROWN        5284
WHITE/BROWN              4689
SPOTTED                  4637
BRINDLE                  2822
GOLD                     2647
YELLOW                   2567
BLACK/TAN                2363
TAN                      2199
RED                      2186
MULTI                    1979
FAWN                     1745
WHITE/TAN                1205
BLONDE                   1089
GREY                      856
WHITE/RED                 610
SABLE                     609
OTHER                     593
CREAM                     521
.                         489
WHITE/GREY                465
BUFF                      460
BLUE                      457
CHOCOLATE                 429
APRICOT                   392
RED/BROWN                 326
                        ...
BLACK WITH WHITE          119
WHITE/BLACK/GREY          112
MERLE                      98
ORANGE                     88
WHITE/APRICOT              85
WHITE/BLUE                 82
GOLD/RED                   74
BLACK/BROWN/GREY           68
LIVER                      64
BLUE/GOLD                  60
BLACK/CREAM                56
BLACK/BRINDLE              53
BLUE/TAN                   52
RED/BLONDE                 42
RED/BRINDLE                37
BROWN/GOLD                 36
CINNAMON                   27
RUST                       14
BROWN/BLONDE               14
BROWN/FAWN                 12
WHITE/ORANGE               12
BLACK/BLUE                  9
BROWN/TAN/BRINDLE           7
BLACK/LIVER                 7
BROWN/LIVER                 6
BROWN/ORANGE                5
BLACK/MERLE                 5
BLACK/ORANGE                5
BLACK/ORANGE/BRINDLE        4
WHITE/MERLE                 2
Name: Breed, Length: 80, dtype: int64

In [22]:
brown = colour_counts.index.str.contains('BROWN')

colour_counts.loc[brown]

Color
BLACK/BROWN           7289
BLACK/BROWN/GREY        68
BLACK/BROWN/TAN        164
BROWN                11920
BROWN/BLONDE            14
BROWN/FAWN              12
BROWN/GOLD              36
BROWN/LIVER              6
BROWN/ORANGE             5
BROWN/TAN              186
BROWN/TAN/BRINDLE        7
RED/BROWN              326
WHITE/BLACK/BROWN     5284
WHITE/BROWN           4689
Name: Breed, dtype: int64

You can also group by multiple columns.

In [23]:
df.groupby(['Breed','ExpYear'])['Color'].count()

Breed                  ExpYear
.                      2007         4
                       2008        10
                       2009         4
AFFENPINSCHER          2007         2
                       2008         2
                       2009         1
AFGHAN HOUND           2007         3
                       2008         6
                       2009         3
AINU                   2007         2
AIREDALE TERRIER       2007        62
                       2008        72
                       2009        53
AKITA                  2007        96
                       2008       109
                       2009        67
AKITA MIX              2007        19
                       2008        35
                       2009        16
ALAPAHA BLUE BULLDO    2007         1
ALAS KLEE KAI          2008         3
                       2009         2
ALAS MALAMUTE          2007        41
                       2008        41
                       2009        38
ALASKAN SHEPHERD       2007         1
AM BLACK&TAN COONHO    2007         2
                       2008         1
                       2009         3
AM BULLDOG             2007        71
                                 ...
W SHEPHERD /GER SHEPH  2008         1
W SIBERIAN LAIKA       2009         1
WEIMARANER             2007       124
                       2008       173
                       2009       143
WELSH CORGI CARDIGA    2007        44
                       2008        65
                       2009        43
WELSH CORGI PEMBROK    2007        87
                       2008        89
                       2009        89
WELSH SPRINGER SPAN    2007         4
                       2008         5
                       2009         4
WELSH TERRIER          2007        10
                       2008        14
                       2009         8
WHIPPET                2007        13
                       2008        18
                       2009        16
WIREHAIR PT GRIFFON    2007         4
                       2008         9
                       2009         6
XOLOITZCUINTLI         2009         1
YORKSHIRE TERR MIX     2007       117
                       2008       185
                       2009       167
YORKSHIRE TERRIER      2007       510
                       2008       649
                       2009       541
Name: Color, Length: 765, dtype: int64

This gets complicated though, because what is returned is still a `Series`, but it has what is called a `MultiIndex` - an index with more than one level. This one has both "ExpYear" and "Breed". Accessing data in Series and DataFrames with a `MultiIndex` is a bit more complicated, and we won't go into it just yet. In the meantime, a handy way to deal with this - if you're grouping by just two columns - is by using the `unstack` function, which pivots your `MultiIndex` Series into a regular `DataFrame`, with columns for your second index level.

In [24]:
df.groupby(['Breed','ExpYear'])['Color'].count().unstack()

ExpYear                  2007    2008    2009
Breed
.                         4.0    10.0     4.0
AFFENPINSCHER             2.0     2.0     1.0
AFGHAN HOUND              3.0     6.0     3.0
AINU                      2.0     NaN     NaN
AIREDALE TERRIER         62.0    72.0    53.0
AKITA                    96.0   109.0    67.0
AKITA MIX                19.0    35.0    16.0
ALAPAHA BLUE BULLDO       1.0     NaN     NaN
ALAS KLEE KAI             NaN     3.0     2.0
ALAS MALAMUTE            41.0    41.0    38.0
ALASKAN SHEPHERD          1.0     NaN     NaN
AM BLACK&TAN COONHO       2.0     1.0     3.0
AM BULLDOG               71.0   114.0   103.0
AM ESKIMO DOG            99.0   104.0    77.0
AM FOXHOUND              11.0    10.0    14.0
AM PIT BULL TERRIER     931.0  1014.0  1024.0
AM PITT BULL MIX        241.0   227.0   283.0
AM STAFF TERRIER         70.0    93.0    75.0
AM TOY TERRIER           11.0     9.0     9.0
AM WATER SPANIEL          1.0     NaN     1.0
ANATOLIAN SHEPHERD        1.0     1.0     5.0
ARGENTINO DOGO            4.0     3.0     6.0
AUS CATTLE DOG           61.0    74.0    64.0
AUS KELPIE                1.0     3.0     4.0
AUS SHEPHERD            135.0   152.0   146.0
AUS TERRIER               4.0     5.0     3.0
BASENJI                  12.0    18.0    13.0
BASSET HOUND            140.0   193.0   156.0
BASSET HOUND MIX         21.0    15.0    21.0
BEAGLE                 1047.0  1206.0   986.0
...                       ...     ...     ...
SPINONE ITALIANO          7.0    11.0    11.0
ST BERNARD               74.0    99.0    71.0
STAFFORDSHIRE TERRI      21.0    23.0    16.0
STUMPY TAIL CATTLE DO     1.0     NaN     1.0
SUSSEX SPANIEL            1.0     1.0     1.0
TAG                     416.0   146.0    85.0
TERRIER                 146.0   199.0   137.0
TERRIER BRASILEIRO        1.0     1.0     1.0
TERRIER MIX             299.0   353.0   304.0
THAI RIDGEBACK            NaN     1.0     NaN
TIBETAN SPANIEL           3.0     3.0     1.0
TIBETAN TERRIER          14.0    17.0    10.0
TOY FOX TERIER            6.0     5.0     6.0
TRANSYLVANIAN HOUND       1.0     NaN     NaN
TREE WALK COONHOUND      14.0    18.0    23.0
TREEING CUR               NaN     NaN     1.0
VIZSLA                   50.0    77.0    68.0
W HGHLND WH TERRIER     174.0   211.0   189.0
W SHEPHERD /GER SHEPH     NaN     1.0     NaN
W SIBERIAN LAIKA          NaN     NaN     1.0
WEIMARANER              124.0   173.0   143.0
WELSH CORGI CARDIGA      44.0    65.0    43.0
WELSH CORGI PEMBROK      87.0    89.0    89.0
WELSH SPRINGER SPAN       4.0     5.0     4.0
WELSH TERRIER            10.0    14.0     8.0
WHIPPET                  13.0    18.0    16.0
WIREHAIR PT GRIFFON       4.0     9.0     6.0
XOLOITZCUINTLI            NaN     NaN     1.0
YORKSHIRE TERR MIX      117.0   185.0   167.0
YORKSHIRE TERRIER       510.0   649.0   541.0

[291 rows x 3 columns]

The other way to handle this is to use the `reset_index` function, which here, inscrutably, turns the series into a `DataFrame` with columns for each of your `groupby` values.

In [25]:
breed_by_year = df.groupby(['Breed','ExpYear', 'DogName'])['Color'].count()
breed_by_year.reset_index()

                   Breed  ExpYear        DogName  Color
0                      .     2007           COCO      1
1                      .     2007           LADY      1
2                      .     2007         MAGGIE      1
3                      .     2007       PRINCESS      1
4                      .     2008          BRUNO      1
5                      .     2008       CHOMPERS      1
6                      .     2008           LADY      1
7                      .     2008           MAIA      1
8                      .     2008          MAZIE      1
9                      .     2008       PRINCESS      1
10                     .     2008          ROSIE      1
11                     .     2008          SAMMY      1
12                     .     2008         SHELBY      1
13                     .     2008          TAFFY      1
14                     .     2009        BUCKEYE      1
15                     .     2009          KELLI      1
16                     .     2009           LADY      1
17                     .     2009       PRINCESS      1
18         AFFENPINSCHER     2007      LUCKY BOY      1
19         AFFENPINSCHER     2007        TAPANGA      1
20         AFFENPINSCHER     2008        TAPANGA      1
21         AFFENPINSCHER     2008           TOKI      1
22         AFFENPINSCHER     2009         PEPPER      1
23          AFGHAN HOUND     2007       ABBYGALE      1
24          AFGHAN HOUND     2007         HOWSIT      1
25          AFGHAN HOUND     2007          LADDY      1
26          AFGHAN HOUND     2008        ANNIE B      1
27          AFGHAN HOUND     2008        CHRISTY      1
28          AFGHAN HOUND     2008       FRANKLIN      1
29          AFGHAN HOUND     2008         MERLIN      1
...                  ...      ...            ...    ...
66403  YORKSHIRE TERRIER     2009      TIA JADEN      1
66404  YORKSHIRE TERRIER     2009        TIC TAC      1
66405  YORKSHIRE TERRIER     2009        TIFFANY      1
66406  YORKSHIRE TERRIER     2009    TIGER LILLY      1
66407  YORKSHIRE TERRIER     2009         TIGGER      1
66408  YORKSHIRE TERRIER     2009           TIKI      2
66409  YORKSHIRE TERRIER     2009           TINA      1
66410  YORKSHIRE TERRIER     2009     TINKERBELL      2
66411  YORKSHIRE TERRIER     2009  TINKERBELL II      1
66412  YORKSHIRE TERRIER     2009          TIPPY      1
66413  YORKSHIRE TERRIER     2009          TOBEY      1
66414  YORKSHIRE TERRIER     2009          TOBIE      1
66415  YORKSHIRE TERRIER     2009           TOBY     10
66416  YORKSHIRE TERRIER     2009          TOMMY      1
66417  YORKSHIRE TERRIER     2009        TOOTSIE      2
66418  YORKSHIRE TERRIER     2009          TORIE      1
66419  YORKSHIRE TERRIER     2009          TRINA      1
66420  YORKSHIRE TERRIER     2009       TRISCUIT      1
66421  YORKSHIRE TERRIER     2009       TRUFFLES      1
66422  YORKSHIRE TERRIER     2009         TUCKER      1
66423  YORKSHIRE TERRIER     2009          TURBO      1
66424  YORKSHIRE TERRIER     2009          TYSON      2
66425  YORKSHIRE TERRIER     2009          VEGAS      2
66426  YORKSHIRE TERRIER     2009          WENDY      1
66427  YORKSHIRE TERRIER     2009         WILLIE      1
66428  YORKSHIRE TERRIER     2009           YOGI      1
66429  YORKSHIRE TERRIER     2009          YORZI      1
66430  YORKSHIRE TERRIER     2009          ZIGGY      1
66431  YORKSHIRE TERRIER     2009            ZOE      5
66432  YORKSHIRE TERRIER     2009           ZOEY      6

[66433 rows x 4 columns]

Note that the final column is called "Color", but what it actually contains is a count of _rows_ in the Color column. It's just that this is the column we happened to choose to count. This can get confusing.

Also, "Chompers" is a great name.

### Grouping by a Series

You'll notice that we've always grouped by the name of a column in the DataFrame. When we do that, there's actually some secret magic happening in the background, which is that Pandas looks in the DataFrame for a column with that name, and then uses that `Series` to group the DataFrame. You can shortcut that by explicitly passing a `Series`.

In [26]:
df.groupby(df['Breed'])

Or a list of `Series` objects.

In [27]:
df.groupby([df['Breed'], df['DogName']])

Most of the time it's more straightforward just to name the columns, but from time to time you might want to group a DataFrame by some Series that's not a column in your DataFrame. This will work fine, provided (as always) the indexes align.

For example, here we're grouping the DataFrame by a `Series` which contains random numbers from zero to nine - effectively making ten random samples.

In [28]:
random_numbers = pd.Series(pd.np.random.randint(0, 10, size=len(df)))
df.groupby(random_numbers)['Color'].count()

0    9928
1    9834
2    9621
3    9665
4    9715
5    9652
6    9651
7    9731
8    9800
9    9865
Name: Color, dtype: int64

One useful application for this is to group by a boolean series. This is a bit complicated, but here we are comparing the number of brown dogs to dogs of every other colour, by year.

In [29]:
brown = df['Color'].str.contains('BROWN')

brown.name = 'Brown' # This just makes the table look nicer at the end

df.groupby([df['ExpYear'], brown])['DogName'].count().unstack()

Brown    False  True
ExpYear
2007     20641   9220
2008     25377  10979
2009     21438   9807

### Problem Three

* Which zip code has the most dog registrations?
* What was the most common name for each of 2007, 2008, and 2009?
* What is the average number of dog registrations by year?